@if (isAddPokemonVisible){
<app-add-pokemon (close)="onCloseAddPokemon()" [trainerId]="trainerId" />
}
<app-card>
  <section id="team-info">
    <header>
      <h2>{{ name }}</h2>
      <menu>
        <button (click)="onStartAddPokemon()">Add a Pokemon</button>
      </menu>
    </header>

    @if(challengedTrainerPokemons.length!==0){
    <ul>
      @for (pokemon of challengedTrainerPokemons; track pokemon.id){
      <li>
        <app-pokemon [pokemon]="pokemon" />
      </li>
      } @if(challengedTrainerPokemons.length>=3){
      <p id="end-of-list">-----End of List-----</p>
      }
    </ul>
    }@else {
    <p>Nothing to view here!</p>
    }
  </section>
</app-card>
