/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Flexo-Regular";
  src: url("assets/Flexo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: "Flexo-Regular", arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #424242 url("assets/body_bg.png") repeat;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
