/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Flexo-Regular";
  src: url("assets/Flexo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: "Flexo-Regular", arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #424242 url("assets/body_bg.png") repeat;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

:root {
  --normal-color: #a8a77a;
  --fire-color: #ee8130;
  --water-color: #6390f0;
  --electric-color: #f7d02c;
  --grass-color: #7ac74c;
  --ice-color: #96d9d6;
  --fighting-color: #c22e28;
  --poison-color: #a33ea1;
  --ground-color: #e2bf65;
  --flying-color: #a98ff3;
  --psychic-color: #f95587;
  --bug-color: #a6b91a;
  --rock-color: #b6a136;
  --ghost-color: #735797;
  --dragon-color: #6f35fc;
  --dark-color: #705746;
  --steel-color: #b7b7ce;
  --fairy-color: #d685ad;
}
