<app-header></app-header>

<main>
  <ul id="trainers">
    <li>
      <app-trainers
        [trainer]="trainers[0]"
        (challengeTrainer)="onChallengeTrainer($event)"
      />
    </li>
    <li>
      <app-trainers
        [trainer]="trainers[1]"
        (challengeTrainer)="onChallengeTrainer($event)"
      />
    </li>
    <li>
      <app-trainers
        [trainer]="trainers[2]"
        (challengeTrainer)="onChallengeTrainer($event)"
      />
    </li>
    <li>
      <app-trainers
        [trainer]="trainers[3]"
        (challengeTrainer)="onChallengeTrainer($event)"
      />
    </li>
    <li>
      <app-trainers
        [trainer]="trainers[4]"
        (challengeTrainer)="onChallengeTrainer($event)"
      />
    </li>
  </ul>
  <app-team-info [name]="challengedTrainer ? challengedTrainer.name : ''" />
</main>

<app-footer></app-footer>
